body {
    background-color: #DDDDDD;
}

.navbar {
    background-color: #508C9B;
}

.btn-custom {
    background-color: #134B70;
    color: white;
}

.btn-custom:hover {
    background-color: #0f3b58;
    color: white;
}

.accordion {
     background-color: #508C9B;
}

.accordion:hover {
    background-color: #4a8290;
}

.accordion-content {
    background-color: #508C9B;
    border-top: 1px solid #0f3b58;
}

.rotate {
    transform: rotate(90deg);
}

.color-picker {
    width: 5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-green {
    color: rgb(102, 255, 0);
}

.input-icon {
    color: #134B70;
}

.check-switch {
    transform: scale(1.4);
}

.form-check-input:checked {
    background-color: #134B70;
    border-color: #134B70;
}

.form-check-input:checked:hover {
    background-color: #0f3b58;
}

@media print {
    @page {
      margin-top: 1in; /* Adjust as needed */
    }
  }