.rotate {
    transform: rotate(90deg);
}

.color-picker {
    width: 5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-green {
    color: rgb(102, 255, 0);
}

.check-switch {
    transform: scale(1.4);
}